h1 {
    display: flex;
   justify-content: center;   
   margin: 30px 0;
}

/* start of tooltip */
.cell_type {
    position: relative;
    display: inline-block;
}

.cell_info {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    /* how much above the cell u want the tooltip to be for bottom element */
    bottom: 140%;  
    left: 50%;
    /* Use half of the width (120/2 = 60), to center the tooltip for margin left */
    margin-left: -50px; 
}
  
.cell_type:hover .cell_info {
    visibility: visible;

    z-index: 2;
}

.cell_type .cell_info::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.cell_types .cell_info_active{
    visibility: visible;
}

/* end of tooltip */


/* start of cell type picker css */

.cell_types {   
    margin-top: 50px;
    display: flex;
    justify-content: center;

    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.AIR_cell_type {
    background-color: white;
}

.WALL_cell_type {
    background-color: var(--WALL_color);
}

.WEIGHTED_cell_type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.START_cell_type {
    background-color: var(--START_color);
}

.MIDDLE_cell_type {
    background-color: var(--MIDDLE_color);
}


.END_cell_type {
    background-color: var(--END_color);
}

.cell_type {
    margin: 1px;
    width: 30px;
    height: 30px;
    border-radius: 15%;
    border: 3px solid var(--BACKGROUND_color);
}

.cell_type:hover {
    border: 3px solid orange;
    cursor: pointer;
}

.cell_types .active {
    border: 3px solid orange;
}







/* end of cell type picker css */


/* start of search algo picker css */

.search_algorithms, 
.maze_algorithms {   
    display: flex;
    justify-content: center;

    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.search_algorithms .search_algos,
.maze_algorithms .maze_algos {
    width: fit-content;
    height: 40px;
    margin: 5px;
    padding: 5px;

    border-radius: 3px;

    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



.search_algorithms .search_algos:hover,
.maze_algorithms .maze_algos:hover {
    background-color: var(--PRIMARY_color);
    cursor: pointer;

}

.search_algorithms .active,
.maze_algorithms .active {
    background-color: var(--PRIMARY_color);
    /* #154084 */
}
/* end of search algo picker css */




/* start of slider css */

.animation_slider_div, .cell_weight_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_properties, .animation_speed_div, .cell_weight_incrementer_properties {
    display: flex;
    justify-content: center;
}

.incrementers {
    margin: 0;
    height: 30px;
    width: 30px;
}

.incrementer_display {
    background-color: var(--PRIMARY_color);
    width: fit-content;
    padding-inline: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type='range']{
    -webkit-appearance:none;
    appearance:none;
    margin:5px;
    width:calc(250px - 10px);
    width:-webkit-calc(250px - 10px);
    height:25px;
    outline:none;
    background: lightgray;
    border-radius: 3px;   
    overflow: hidden;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance:none;
    width: 25px;
    height: 25px;
    background: darkblue;
    box-shadow: -100vw 0 0 calc(100vw - 12px) var(--PRIMARY_color);
    cursor: pointer;
    border-radius: 3px; 
    border: 3px solid darkblue;
    /* border-right: 3px solid white; */
}

input[type='range']::-webkit-slider-thumb:hover {
    border: 3px solid orange;
}

/* end of slider css */

.algo_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page_selection {
    display: flex;
    justify-content: center;
    /* border-bottom: 2px solid black; */
}

.page_selection .page {
    margin: 20px 50px;
    color: gray;
}

.page_selection .active {
    color: black;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.page_selection .page:hover {
    color: black;
    cursor: pointer;
}



.all_options {
    display: flex;
    justify-content: space-around;
}


.all_drop_downs {
    display: flex;
}

.drop_down_div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.drop_down {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    border-radius: 3px;
    margin-top: 70px;
}

.open {
   visibility: visible;
   position: absolute;
}

.closed {
    visibility: hidden;
    display: none;
}

.drop_down_item {
    display: flex;
    justify-content: flex-start;
    height: 20px;
    padding: 10px 5px;
    margin: 2px 0;
    border-radius: 3px;
}

.drop_down_item:hover {
    background-color: var(--PRIMARY_color);
}

.drop_down .active {
    background-color: var(--PRIMARY_color);
}