.Dijkstras_info_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Dijkstras_info_page .headings {
    display: flex;
}

.Dijkstras_info_page p {
    /* width: 840px; */
    width: calc(55vw + (20px * 2));
    margin: 10px 0;
}

