.Grid_Cell {
  border: none;
  margin: 0;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}


.Wall {
    background-color: darkblue;
}

.Visited {
    background-color: lightblue;
}

.Path {
    background-color: yellow;
}

.Start {
    background-color: green;
}

.End {
    background-color: red;
}

