.Grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.Grid_Row {
    display: flex;
}

button {
    height: 40px;
    padding: 3px;
    margin: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}


/* .Grid_Cell {
    margin: 1px;
    border: 1px solid lightblue;

    width: 30px;
    height: 30px;
    border-radius: 15%;
} */

.Grid_Cell {
    border: 1px solid lightblue;

    width: 30px;
    height: 30px;
}
  
  
.AIR {
    background-color: white;
    border: 1px solid lightblue;
}
  
.WALL {
    background-color: darkblue;
    border: 1px solid darkblue;
}

.WALL_Animated {
    background-color: darkblue;
    /* border: 1px solid darkblue; */
    animation: animate_path 0.5s ease-in-out 0s;
}


.Visited {
    background-color: lightblue;
}

.Visited_Animated {
    background-color: lightblue;
    animation: animate_visited 1.5s ease-in 0s;
}

.Path {
    background-color: rgb(224, 118, 19);
    border: 1px solid rgb(224, 118, 19);
    animation: animate_path 1s ease-in-out 0s;
}

.START {
    background-color: green;
    border: 1px solid green;
    animation: animate_start_end 0.25s ease-in-out 0s;
}

.END {
    background-color: red;
    border: 1px solid red;
    animation: animate_start_end 0.25s ease-in-out 0s;
}


@keyframes animate_start_end {

    0% {
        transform: scale(0.3);
    }

    60% {
        transform: scale(1.2);
    }
    
}

@keyframes animate_visited {

    0% {
        transform: scale(0.4);
        background-color: purple;
    }


    50% {
        transform: scale(1.1);
        background-color: aqua;
    }
    
}

@keyframes animate_path {

    0% {
        transform: scale(0.4);
    }
    
}
  