.Grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


.Grid_Row {
    display: flex;
}

button {
    height: 40px;
    padding: 3px;
    margin: 5px;
}

.slider_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons, .slider_properties, .animation_speed_div {
    display: flex;
    justify-content: center;
}

.slider_incrementers {
    margin: 0;
    height: 30px;
    width: 30px;
}

.animation_speed_display {
    background-color: cyan;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.min_max_input {
    width: 20px;
}


.Grid_Cell {
    margin: 1px;
    border: 1px solid rgb(105, 181, 207);
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15%;
}

.slider {
    color: red;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: lightblue;
    height: 20px;
    width: 200px;
    border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: purple;
    height: 20px;
    width: 30px;
    border-radius: 15%;
}
  
  
.Wall {
    background-color: darkblue;
    border: 1px solid darkblue;
}

.Visited {
    background-color: lightblue;
    border: 1px solid lightblue;
}

.Visited_Animated {
    background-color: lightblue;
    border: 1px solid lightblue;
    animation: animate_visited 1.5s ease-in 0s;
}

.Path {
    background-color: rgb(224, 118, 19);
    border: 1px solid rgb(224, 118, 19);
    animation: animate_path 1s ease-in-out 0s;
}

.Start {
    background-color: green;
    border: 1px solid green;
    animation: animate_start_end 0.25s ease-in-out 0s;
}

.End {
    background-color: red;
    border: 1px solid red;
    animation: animate_start_end 0.25s ease-in-out 0s;
}

@keyframes animate_start_end {

    0% {
        transform: scale(0.3);
    }

    60% {
        transform: scale(1.2);
    }
    
}

@keyframes animate_visited {

    /* 0% {
        transform: scale(0.2);
        background-color: purple;
        border-radius: 50%;
        transform: rotate(90deg);
    }

    10% {
        background-color: aqua;
    }

    50% {
        transform: scale(1.2);
        transform: rotate(180deg);
        background-color: aquamarine;
    } */

    0% {
        transform: scale(0.4);
        background-color: purple;
    }

    10% {
        background-color: aqua;
    }

    50% {
        transform: scale(1.1);
        background-color: aquamarine;
    }
    
}

@keyframes animate_path {

    0% {
        transform: scale(0.4);
    }
    
}
  