.Grid_Cell {
  border: none;
  margin: 1px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15%;
}


.Wall {
    background-color: darkblue;
}

.Visited {
    background-color: lightblue;
    animation: animate_visited 1.5s ease-in 0s;
}

.Path {
    background-color: yellow;
}

.Start {
    background-color: green;
}

.End {
    background-color: red;
}

@keyframes animate_visited {

    0% {
        transform: scale(0.3);
        background-color: aqua;
        border-radius: 50%;
    }

    50% {
        transform: scale(1.1);
        transform: rotate(90deg);
        background-color: aquamarine;
    }

    /* 100% {
        background-color: lightblue;
    } */
    
}
